<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Копилка</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="container">
    <h1 class="title">Копилка</h1>
    <p>Текущая сумма: <span id="total">0.00</span> евро</p>
    <table class="table">
      <thead>
        <tr>
          <th class="tableHead">Номинал</th>
          <th class="tableHead">Количество</th>
        </tr>
      </thead>
      <tbody id="coin-list">
        <!-- Данные будут добавляться через JS -->
      </tbody>
    </table>
    <button class="buttons" id="reset">Сбросить данные</button>
    <button class="buttons" id="randomCoin">Монетка</button>
  </div>
  <script defer src="script.js"></script>
</body>

</html>